code.codenotcompile {
    background-position: right 10px top 30px;
    background-size: 3em;
    background-repeat: no-repeat;
    background-image: url("../images/does_not_compile.svg");
}

code.codepanics {
    background-position: right 10px top 30px;
    background-size: 3em;
    background-repeat: no-repeat;
    background-image: url("../images/panics.svg");
}

span.caption {
    font-size: .8em;
    font-weight: 600;
}

span.caption code {
    font-size: 0.875em;
    font-weight: 400;
}